@import "@fortawesome/fontawesome-free/css/all.css";
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.content-box {
    @apply flex items-start gap-4 rounded-lg p-4 shadow-[0px_14px_34px_0px_rgba(0,0,0,0.08)] ring-1 ring-white/[0.05]
    text-gray-200 transition duration-300 hover:ring-black/20 focus:outline-none focus-visible:ring-[#FF2D20] lg:pb-7
    dark:ring-zinc-700 dark:hover:ring-zinc-600 dark:focus-visible:ring-[#FF2D20]
    relative;
}

.content-bg {
    @apply dark:bg-[var(--bg-color-content)] dark:hover:bg-[var(--bg-color-content-hover)] backdrop-blur-md;
}
